div {
  display: flex;
  width: auto;
  margin: 5%;
  border-radius: 0.5em;
  background-color: white;
}

#calculator {
  display: block;
  width: 40vw;
  height: 40vw;
  border: solid;
  background-color: darkgray;
}

#top {
  height: 15%;
  width: auto;
  align-items: center;
}

#c-btn {
  height: 100%;
  width: 13%;
  margin: 0;
  font-size: 150%;
  background-color: rgba(255, 48, 7, 0.64);
  border: 0.05em solid red;
  border-radius: 0.3em 0 0 0.3em;
}

#top > #top-inner {
  height:70%;
  width: 100%;
  border: solid gray;
}

input {
  height: 80%;
  width: 80%;
  margin-left: auto;
  align-items: center;
  border: none;
  font-size: 150%;
  text-align: right;
}

#buttons {
  height: 70%;
  width: auto;
  background-color: inherit;
  flex-direction: row;
}

#right {
  width: 20%;
  height: 100%;
  margin: 0 0 5% 2.5%;
  flex-direction: column;
}

#left {
  width: 75%;
  height: 100%;
  margin: 0 2.5% 5% 0;
  flex-direction: row;
  flex-wrap: wrap;
}

button {
  height: 18%;
  border-radius: 100%;
  background-color: #d8c3d9;
  font-size: 150%;
  border: solid black 0.05em;
  box-shadow: none;
}
button:active{
  box-shadow: none;
  border-width: 0.1em;
}

#left > button {
  width: 20%;
  margin: 3% 3% 3% 10%;
}

#right > button {
  width: 75%;
  margin: 13% 3% 12% 12%;
}

#left > .op-btn, #left > #eq-btn,
#right > .op-btn {
  background-color: #00ff00;
}
